includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    - src
    - tpay.php
  excludePaths:
    - vendor/
  reportUnmatchedIgnoredErrors: false
  level: 1

