includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
    
parameters:
  # Recognize native PHP 8 types in modern PrestaShop dependencies.
  phpVersion: 80200

  stubFiles:
    - stubs/OrderState.stub

  paths:
    - ../../src
    - ../../tpay.php

  excludePaths:
    - ../../src/Util/Logger/PsrLoggerV3.php

  ignoreErrors:
    # PrestaShop 1.7's Symfony kernel uses the legacy Serializable interface.
    - identifier: class.serializable
      path: ../../src/Util/LegacyAppKernel.php

  reportUnmatchedIgnoredErrors: false
  level: 5
  treatPhpDocTypesAsCertain: false
