includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
    
parameters:
  paths:
    - src
    - tpay.php

  reportUnmatchedIgnoredErrors: false
  level: 1
