.tpay-payment-gateways {
  display: grid;
  margin-left: -0.6rem;
  margin-right: -0.6rem;

  &--grid {
    grid-template-columns:repeat(auto-fill, minmax(180px, 1fr));
  }

  &__item {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-bottom: 1.2rem;
    position: relative;

    input[type="radio"] {
      position: absolute;
      opacity: 0;
    }
    input[type="radio"]:checked + .tpay-payment-gateways__item-inner {
      border: 2px solid #2953C6;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10);
    }
    input[type="radio"]:focus-visible + .tpay-payment-gateways__item-inner {
      border: 4px solid #2953C6;
    }

    img {
      width: auto;
      display: block;
      height: 36px;
      margin-left: auto;
      margin-right: auto;
      /*display: flex;*/
      margin-bottom: 6px;
    }

    &.installments {
      img {
        height: 55px;
      }
      .tpay-payment-gateways__item-inner {
        padding: 12px 10px;
      }
    }

    span {
      text-align: center;
      font-weight: 600;
      font-size: 0.72rem;
      color: #1B2257;
    }

    &:hover .tpay-payment-gateways__item-inner {
      border: 2px solid #2953C6;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10);
    }
  }

  &__item-inner {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    padding: 16px 10px;
    height: 100%;
    justify-content: center;
    cursor: pointer;

    transition: box-shadow 125ms ease-out;
    -webkit-transition: box-shadow 125ms ease-out;
    -moz-transition: box-shadow 125ms ease-out;
    -o-transition: box-shadow 125ms ease-out;
  }

}
