
@import "utilites/animation";
@import "utilites/preloader";
@import "gateways";
@import "blik";
@import "card";

.tpay-wrapper {
	margin-top: 30px;
	margin-bottom: 40px;
	//width: 370px;
	position: relative;

	.custom-checkbox span.wrong{
		border: 1px solid hsl(348, 100%, 61%);
	}

	.wrong {
		border: 1px solid hsl(348, 100%, 61%);
	}

}

.tpay-regulations {
	padding: 0.9rem 0 0.5rem;
	&__content {
		margin-bottom: 0.6rem;
		font-size: 0.7rem;
	}
}

.tpay-widget-wrap {
	padding: 16px 0;
	margin-bottom: 16px;
}


#checkout-payment-step {
	.payment-option {
		display: flex;
		width: 100%;
		align-items: center;

		> label {
			display: flex;
			align-items: center;
			margin-bottom: 0;
		}

		> label img {
			height: 32px;
			padding: 4px;
		}
	}
}


.tpay-label-info {
	display: flex !important;
	align-items: center;
	img {
		width: 12px;

		opacity: 0.5;

		margin-left: 10px;

		//margin: 8px;
	}
}

#info_msg_not_valid, .tpay-blik-response {
	margin-top: .7rem;
	color: #232323;
	font-size: .7rem;
}


.tpay-logo {
	&--small {
		position: absolute;
		right: 20px;
		top: 20px;
	}
}

body#checkout .additional-information {
	margin-left: 0;
}




.tpay-radio-payments {

	&--blik {
		max-width: 350px;
	}

	&__radio {
		display: flex;
		align-content: center;
		margin:0;
		position: relative;
		padding: 12px 15px;
		height: 100%;
		border: 1px solid #DDDDDD;
		border-radius: 6px;
		cursor: pointer;
		transition: all .3s cubic-bezier(0.335, 0.010, 0.030, 1.360);

		.tpay-logo--small {
			display: none;
		}

		&:hover {
			border-color: #267DBE;
			transition: all .3s cubic-bezier(0.335, 0.010, 0.030, 1.360);
		}

		&--active {

			.tpay-logo--small {
				display: block;
			}

			.tpay-radio-payments__description {
				display: block;
				transition: all .4s cubic-bezier(0.335, 0.010, 0.030, 1.360);
				height: auto;
			}

			border-color: #267DBE;

		}


	}


	&__description {
		display: none;
		height: 0;
		margin-top: 12px;
		transition: all .4s cubic-bezier(0.335, 0.010, 0.030, 1.360);
		margin-bottom: 20px;
	}


	&__item {
		padding-bottom: 12px;

		label {
			font-weight: 700;
			text-align: left;
			margin: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			cursor: pointer;
		}

		p {
			font-size: 0.70rem;
			padding: 0;
			margin: 0;
			line-height: 1;
		}

	}
}



#tpay-blik-form, #card_payment_form {
	#payment-confirmation {
		display: none !important;
	}
}

body#checkout section.checkout-step .payment-options label {
	display: flex;
	text-align: left;
}

.tpay-error {
	color: #ff3860;
	font-size: 12px;
	font-weight: 500;
	padding: 10px 0;
	display: block;
}

body.tpay-hide-process-btn #payment-confirmation {
	display: none !important;
}

.installments-iframe {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.installments-iframe-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	padding: 0;
	border-radius: 8px;
	overflow: hidden;
}

.installments-button {
	box-sizing: border-box;
	font-family: sans-serif;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	gap: 1px;
	padding: 8px 32px;
	background: #ffffff;
	border: 1px solid #ebebeb;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 700;
	line-height: 15.6px;
	font-size: 13px;
	transition: background-color 0.25s ease;
}

.installments-button:hover {
	background: #eeeeee;
}

.installments-button img {
	max-width: 114px;
}
