name: Static code analysis

on: [push]

jobs:
  analyse:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: none, bcmath, curl, dom, fileinfo, gd, iconv, intl, mbstring, pdo_mysql, simplexml, soap, sockets, tokenizer, xsl, xml, xmlwriter, zip, fileinfo
          coverage: none

      - run: composer validate --strict
        continue-on-error: true

      - run: composer install --no-interaction --prefer-dist

      - run: composer normalize --diff --dry-run --indent-size=4 --indent-style=space

      - run: composer cs:fixer -- --dry-run

      - run: composer cs:sniffer

      - run: composer cs:phpstan

      - run: composer cs:psalm -- --no-progress --shepherd
        continue-on-error: true
